body{
font-family: Arial;
background:#f8f8f8;
text-align:center;
}

h2{
color:#e23744;
}

form{
background:white;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
box-shadow:0px 0px 10px gray;
}

select,input{
width:90%;
padding:8px;
margin:5px;
}

button{
background:#e23744;
color:white;
padding:10px;
border:none;
border-radius:5px;
cursor:pointer;
}

table{
width:90%;
margin:auto;
background:white;
border-collapse:collapse;
}

th{
background:#e23744;
color:white;
padding:10px;
}

td{
padding:10px;
}

a{
background:green;
color:white;
padding:5px;
text-decoration:none;
border-radius:5px;
}